.array-container {
  position: absolute;
  top: auto;
  height: calc(90vh - 100px);
  bottom: 0;
  left: 0;
  right: 0;
}

.array-bar {
  background-color: blue;
  display: inline-block;
  margin: 0 1px;
}
